@page "/"

<PageTitle>Home</PageTitle>

<h1>Dublin Bikes client</h1>

<p>This is a very simple Blazor page. Use the menu to open the Stations page and interact with the DublinBikes API.</p>
<p>
    <a class="btn btn-primary" href="stations">Go to stations</a>
</p>
